<?xml version="1.0" encoding="utf-8" ?>
<nlog internalLogLevel="Debug"
      internalLogFile="d:\temp\nlog-internal.txt"
      internalLogToConsole="true"
      throwConfigExceptions="true">
  <targets>
    <target name="file" type="File" fileName="${basedir}/log.txt" />
  </targets>
  <rules> 
  </rules>
</nlog>
