<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>

    <target name="console_audit" xsi:type="ColoredConsole"
                useDefaultRowHighlightingRules="false"
                layout="[ApiLog]-${event-properties:item=context}">
    </target>
    <target name="console_runtime" xsi:type="ColoredConsole"
         useDefaultRowHighlightingRules="false"
         layout="[MonitorLog]-${event-properties:item=context}">
    </target>

  </targets>
  <rules>
    <logger name="LingluBootstrap*" minlevel="Info" maxlevel="Fatal" writeTo="console_runtime"></logger>
    <logger name="Linglu.Core*" minlevel="Info" maxlevel="Fatal" writeTo="console_audit"></logger>
  </rules>
</nlog>